<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" >
                        <img class="rounded-circle mx-auto" height="300px" width="300px" src="https://www.meripustak.com/MeripustakStatic/FullImage/Autobiography-Of-Love_319522.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            
                          <h5 class="card-title text-center"> <b> Autobiography of Love </b>  </h5>
                          <p class="card-text text-center"><b> Price: RS.1900/- </b>  </p>
                          <a href="#" class=" text-center btn btn-primary"> Buy Now </a>
                        </div>
                      </div>

                </div>

                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" >
                        <img class="rounded-circle mx-auto" height="300px" width="300px" src="https://www.meripustak.com/MeripustakStatic/FullImage/Garibaldi-An-Autobiography-2018-Edition_309905.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            
                          <h5 class="card-title text-center"> <b> Autobiography by Karan Singh </b>  </h5>
                          <p class="card-text text-center"><b> Price: RS.2081/- </b>  </p>
                          <a href="#" class=" text-center btn btn-primary"> Buy Now </a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" >
                        <img class="rounded-circle mx-auto" height="300px" width="300px" src="https://www.meripustak.com/MeripustakStatic/FullImage/Autobiography-of-a-Cad_302188.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            
                          <h5 class="card-title text-center"> <b> Autobiography of CAD </b>  </h5>
                          <p class="card-text text-center"><b> Price: RS.2342/- </b>  </p>
                          <a href="#" class=" text-center btn btn-primary"> Buy Now </a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" >
                        <img class="rounded-circle mx-auto" height="300px" width="300px" src="https://www.meripustak.com/MeripustakStatic/FullImage/A-Peoples-History-of-Heaven-A-Novel_393301.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            
                          <h5 class="card-title text-center"> <b>  
                            A Peoples History of Heaven </b>  </h5>
                          <p class="card-text text-center"><b> Price: RS.581/- </b>  </p>
                          <a href="#" class=" text-center btn btn-primary"> Buy Now </a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" >
                        <img class="rounded-circle mx-auto" height="300px" width="300px" src="https://www.meripustak.com/MeripustakStatic/FullImage/Even-More-Everyday-Science-Mysteries--Book-3_274996.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            
                          <h5 class="card-title text-center"> <b> 
                            Even More Everyday Science Mysteries </b>  </h5>
                          <p class="card-text text-center"><b> Price: RS.618/- </b>  </p>
                          <a href="#" class=" text-center btn btn-primary"> Buy Now </a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" >
                        <img class="rounded-circle mx-auto" height="300px" width="300px" src="https://www.meripustak.com/MeripustakStatic/FullImage/Lucys-Little-Village-Book-Club-A-Heartwarming-Feel-Good-Romance-Novel_352068.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            
                          <h5 class="card-title text-center"> <b> Lucys Little Village </b>  </h5>
                          <p class="card-text text-center"><b> Price: RS.1095/- </b>  </p>
                          <a href="#" class=" text-center btn btn-primary"> Buy Now </a>
                        </div>
                      </div>
                </div>



                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" >
                        <img class="rounded-circle mx-auto" height="300px" width="300px" src="https://www.meripustak.com/MeripustakStatic/FullImage/Collected-Novels-Of-The-Bronite-Sisters_366285.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            
                          <h5 class="card-title text-center"> <b> The Bronite Sisters by Bronte </b>  </h5>
                          <p class="card-text text-center"><b> Price: RS.6123/- </b>  </p>
                          <a href="#" class=" text-center btn btn-primary"> Buy Now </a>
                        </div>
                      </div>
                </div>


                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" >
                        <img class="rounded-circle mx-auto" height="300px" width="300px" src="https://www.meripustak.com/MeripustakStatic/FullImage/Habu-A-Science-Fiction-Novel_320977.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            
                          <h5 class="card-title text-center"> <b> Habu A Science Fiction </b>  </h5>
                          <p class="card-text text-center"><b> Price: RS.1540/- </b>  </p>
                          <a href="#" class=" text-center btn btn-primary"> Buy Now </a>
                        </div>
                      </div>
                </div>
            </div>
                
            
            
        </div>
    </div>
</div>

